
a.dp-close {
	display: block;
}


p.instructions {
	font-size: 1em;
	padding: 0px;
}


/* from http://www.kelvinluck.com/assets/jquery/datePicker/v2/demo/styles/datePicker.css */



div.dp-popup {
	position: relative;
	background: #ccc;
	text-align: left;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}



